/*Highlight list items in VeggiesList on hover */
.custom-hover:hover {
  background-color: #198754 !important;
  color: white !important;
}

/* Responsive height class for VeggiesList. I consulted ChatGPT for this idea*/
.h-fit {
  height: 30vh;
}

@media (min-width: 768px) {
  .h-md-fit {
    height: 50vh;
  }
}

/* Responsive width*/

/* Navbar brand styling */

.brand-text {
  font-size: 3rem !important;
  font-weight: bold !important;
  color: white;
}
/* Navbar link styling */
.custom-nav-link {
  font-size: 1.5rem !important;
  color: white !important;
  text-decoration: none !important;
}

.custom-nav-link:hover {
  font-size: 1.7rem !important; /* Example: Blue on hover */
  text-decoration: none !important;
}

.custom-nav-link.active {
  font-weight: bold !important;
  text-decoration: underline !important;
}
